# Interactive graph visualization
plotly>=5.17.0

# Generation of static 2D and 3D plots
matplotlib>=3.8.0

# Machine learning algorithms and analysis tools
scikit-learn>=1.3.0

# Framework for creating interactive web applications
streamlit>=1.26.0

# Boosting model for machine learning, optimized for performance
lightgbm>=4.1.0

# Data manipulation and analysis for structured data
pandas>=2.1.1

# Fundamental library for numerical calculations and arrays
numpy>=1.26.0

# Serialization and deserialization of Python objects (saving/loading ML models)
joblib>=1.4.0